{% extends 'base.html' %}
{% load static %}
{% load cart %}
{% block xyz %}
Home
{% endblock xyz %}

{% block content %}

<div class="container my-3">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/banner_1.webp' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/banner_2.webp' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/banner_1.webp' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

{% comment %} category details {% endcomment %}
<div class="container mt-3 text-center myclass">
    <div class="row">
      {% for cat in category %}
          <div class="col">
            <a href="?cat_id={{cat.id}}">
              <img src="{{cat.cat_image.url}}" alt="" width=50 height = 50>
              <br>
              {{cat.cat_name}}
            </a>
          </div>
      
      {% endfor %}
    </div>
</div>
{% comment %} this is for product details {% endcomment %}
<div class="container mt-3">
  <div class="row">
    {% for pro in product %}
       <div class="col-4">
         <div class="card text-center" style="width: 18rem;" >
            <img src="{{pro.pro_image.url}}" class="card-img-top" alt="..." width = 150 height = 150>
              <div class="card-body">
                <h5 class="card-title">{{pro.pro_name}}</h5>
                <h5 class="card-title">Rs.{{pro.price}}</h5>
                <p class="card-text">{{pro.desc}}</p>
                {% comment %} <a href="#" class="btn btn-primary">Add to Cart</a> {% endcomment %}
              </div>

               <div class="card-footer bg-transparent border-success">
                
                {% if pro|is_exist_in_cart:request.session.cart %}
                  <div class="row me-3">
                    <div class="col-2">

                     <form action="#{{pro.id}}" method = "post">
                      {% csrf_token %}
                        <input type="text" name="minus" id="" value={{pro.id}} hidden>
                      <input type="text" name="cartid" id="" value={{pro.id}} hidden>
                       <button class ="btn btn-primary">-</button>
                     </form>

                    </div>
                    <div class="col">
                      {{pro|cart_quantity:request.session.cart}}
                    </div>
                    <div class="col-2">
                      <form action="#{{pro.id}}" method="post">
                  {% csrf_token %}
                  <input type="text" name="cartid" id="" value={{pro.id}} hidden>
                  <input type="submit" class="btn btn-primary" name="" id="" value="+">
                </form>

                    </div>
                  </div>
                
                {% else %}
                <form action="#{{pro.id}}" method="post">
                  {% csrf_token %}
                  <input type="text" name="cartid" id="" value={{pro.id}} hidden>
                  <input type="submit" class="btn btn-primary" name="" id="" value="Add To Cart">
                </form>
                {% endif %}
               </div>
              
        </div>
       </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}